@import url('https://fonts.cdnfonts.com/css/futura-md-bt');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (min-width: 300px) {

    /* .navbar-toggler{
        margin-top: -18px;
    }

   .navbar-brand{
     margin-top: -22px !important;   
     margin-left: -30px !important;
   } */

  .login-reg-panel{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align:center;
    width:70%;
    right:0;left:0;
    margin:auto;
    height:250px;
    background-color: rgba(236, 48, 20, 0.9);
}
.white-panel{
    background-color: rgb(119, 113, 113);
    height:485px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:100px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 10px;
    margin-left: 6px;
    margin-top: 10px;
}
.login-info-box{
    width:30%;
    padding:0 0px;
    top:20%;
    left:2%;
    position:absolute;
    text-align:left;
}
.register-info-box{
    width:30%;
    padding:0 0px;
    top:20%;
    right:2%;
    position:absolute;
    text-align:left;
    
}
.register-info-box-text{
  font-size: 0.6rem;
}
.login-info-box-text{
    font-size: 0.6rem;
    margin-left: 34px;
}
.right-log{right:50px !important;}
.login-show, 
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0px 10px 0px;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.login-submit-btn:hover{
    background: #433333;
}

.login-submit-btn:focus{
    background: #433333;
}

.login-submit-btn{
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
/* .login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
} */
.login-show a{
    display:inline-block;
    padding:10px 0;
}
.register-show input[type="text"], .register-show input[type="password"]{
    width: 100%;
    display: block;
    margin:15px 0px 2px 0px;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.register-show select {
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.register-submit-btn:hover{
    background: #433333;
}

.register-submit-btn:focus{
    background: #433333;
}

.register-submit-btn {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
/* .register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
} */
.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}

.login-btn{
    margin-left: 28px !important;   
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:100px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 12px;    
 }
 /* .nav-header{
    height: 84px;
    background-color: rgba(236, 48, 20, 0.9) !important;
    padding: 0px;
    margin: 0px;
 } */

 #dropdown-menu-align-right{
    background-color: white !important;
    border: white !important;
}

 #dropdown-menu-align-right {
    outline: none !important;
    box-shadow: none;
 }

}

@media only screen and (min-width: 600px) {

    /* .navbar-toggler{
        margin-top: -18px;
      }

    .navbar-brand{
        margin-top: -22px !important;   
        margin-left: -30px !important;
    } */

  .login-reg-panel{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align:center;
    width:70%;
    right:0;left:0;
    margin:auto;
    height:250px;
    background-color: rgba(236, 48, 20, 0.9);
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:480px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:100px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 12px;
    margin-left: 15px;
}
.login-info-box{
    width:30%;
    padding:0 0px;
    top:20%;
    left:3%;
    position:absolute;
    text-align:left;
}
.register-info-box{
    width:30%;
    padding:0 0px;
    top:20%;
    right:3%;
    position:absolute;
    text-align:left;
    
}
.register-info-box-text{
  font-size: 0.7rem;
}
.login-info-box-text{
    font-size: 0.7rem;
    margin-left: 30px;
}
.right-log{right:50px !important;}
.login-show, 
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0px 10px 0px;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.login-submit-btn:hover{
    background: #433333;
}

.login-submit-btn:focus{
    background: #433333;
}

.login-submit-btn{
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
/* .login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
} */
.login-show a{
    display:inline-block;
    padding:10px 0;
}
.register-show input[type="text"], .register-show input[type="password"]{
    width: 100%;
    display: block;
    margin:15px 0px 2px 0px;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.register-show select {
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.register-submit-btn:hover{
    background: #433333;
}

.register-submit-btn:focus{
    background: #433333;
}

.register-submit-btn {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
/* .register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
} */
.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}

.login-btn{
    margin-left: 30px !important;   
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:100px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 10px;    
 }

 /* .nav-header{
    height: 84px;
    background-color: rgba(236, 48, 20, 0.9) !important;
    padding: 0px;
    margin: 0px;
} */

#dropdown-menu-align-right{
    background-color: white !important;
    border: white !important;
}

#dropdown-menu-align-right {
    outline: none !important;
    box-shadow: none;
 }

}

@media only screen and (min-width: 768px) {
    
    /* .navbar-toggler{
        margin-top: -18px;
    }

    .navbar-brand{
        margin-top: -22px !important;  
        margin-left: -30px !important; 
     } */

  .login-reg-panel{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align:center;
    width:70%;
    right:0;left:0;
    margin:auto;
    height:280px;
    background-color: rgba(236, 48, 20, 0.9);
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:475px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:120px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 12px;
    margin-left: 33px;
}
.login-info-box{
    width:30%;
    padding:0 0px;
    top:20%;
    left:4%;
    position:absolute;
    text-align:left;
}
.register-info-box{
    width:30%;
    padding:0 0px;
    top:20%;
    right:5%;
    position:absolute;
    text-align:left;
    
}
.register-info-box-text{
  font-size: 0.8rem;
  margin-left: 20px;
}
.login-info-box-text{
    font-size: 0.8rem;
    margin-left: 45px;
}
.right-log{right:50px !important;}
.login-show, 
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0px 10px 0px;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.login-submit-btn:hover{
    background: #433333;
}

.login-submit-btn:focus{
    background: #433333;
}

.login-submit-btn{
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
/* .login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
} */
.login-show a{
    display:inline-block;
    padding:10px 0;
}
.register-show input[type="text"], .register-show input[type="password"]{
    width: 100%;
    display: block;
    margin:15px 0px 2px 0px;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.register-show select {
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.register-submit-btn:hover{
    background: #433333;
}

.register-submit-btn:focus{
    background: #433333;
}

.register-submit-btn {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
/* .register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
} */
.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}
 
.login-btn{
    margin-left: 40px !important;   
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:100px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 12px;    
 }

 /* .nav-header{
    height: 84px;
    background-color: rgba(236, 48, 20, 0.9) !important;
    padding: 0px;
    margin: 0px;
} */

#dropdown-menu-align-right{
    background-color: white !important;
    border: white !important;
}

#dropdown-menu-align-right {
    outline: none !important;
    box-shadow: none;
 }

}

@media only screen and (min-width: 992px) {

  /* Custom Login-Register css */
  @import url('https://fonts.googleapis.com/css?family=Mukta');
  body{
    font-family: 'Mukta', sans-serif!important;
    /* background-color: #b9fab9!important; */
    background-repeat: no-repeat;
    background-size:cover;
    background-color: white;
  }

  /* .navbar-brand{
    margin-top: 0px !important; 
    margin-left: -30px !important;  
  }


  .navbar-toggler{
    margin-top: -18px;
  } */

  .login-reg-panel{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align:center;
    width:70%;
    right:0;left:0;
    margin:auto;
    height:280px;
    background-color: rgba(236, 48, 20, 0.9);
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:480px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 18px;
    margin-left: 35px;
}
.login-info-box{
    width:30%;
    padding:0 0px;
    top:20%;
    left:4%;
    position:absolute;
    text-align:left;
}
.register-info-box{
    width:30%;
    padding:0 0px;
    top:20%;
    right:4%;
    position:absolute;
    text-align:left;   
}
.register-info-box-text{
  font-size: 1.2rem;
  margin-left: 7px;
}
.login-info-box-text{
    font-size: 1.2rem;
    margin-left: 35px;
}
.right-log{right:50px !important;}
.login-show, 
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0px 10px 0px;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.login-submit-btn:hover{
    background: #433333;
}

.login-submit-btn:focus{
    background: #433333;
}

.login-submit-btn{
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
/* .login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
} */
.login-show a{
    display:inline-block;
    padding:10px 0;
}
.register-show input[type="text"], .register-show input[type="password"]{
    width: 100%;
    display: block;
    margin:15px 0px 2px 0px;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.register-show select {
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.register-submit-btn:hover{
    background: #433333;
}

.register-submit-btn:focus{
    background: #433333;
}

.register-submit-btn {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
/* .register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
} */
.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}

.login-btn{
    margin-left: 40px !important;   
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:100px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 12px;    
 }

 /* .nav-header{
    height: 84px;
    background-color: rgba(236, 48, 20, 0.9) !important;
    padding: 0px;
    margin: 0px;
}    */

#dropdown-menu-align-right{
    background-color: #EE4832 !important;
    border:#EE4832 !important;
}

#dropdown-menu-align-right {
    outline: none !important;
    box-shadow: none;
 }
  
}

@media only screen and (min-width: 1200px) {
  

  /* Custom Login-Register css */
  @import url('https://fonts.googleapis.com/css?family=Mukta');
  body{
    font-family: 'Mukta', sans-serif!important;
    /* background-color: #b9fab9!important; */
    background-repeat: no-repeat;
    background-size:cover;
    background-color: white;
  }

  /* .navbar-brand{
    margin-top: 0px !important;   
    margin-left: -30px !important; */
  /* } */

  .login-reg-panel{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align:center;
    width:70%;
    right:0;left:0;
    margin:auto;
    height:300px;
    background-color: rgba(236, 48, 20, 0.9);
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:480px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 18px;
}
.login-info-box{
    width:30%;
    padding:0 0px;
    top:20%;
    left:4%;
    position:absolute;
    text-align:left;
}
.register-info-box{
    width:30%;
    padding:0 0px;
    top:20%;
    right:4%;
    position:absolute;
    text-align:left;
    margin-left: -14px;
    
}
.register-info-box-text{
  font-size: 1.5rem;
  margin-left: 0px;
}
.login-info-box-text{
    font-size: 1.5rem;
}
.right-log{right:50px !important;}
.login-show, 
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0px 10px 0px;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.login-submit-btn:hover{
    background: #433333;
}

.login-submit-btn:focus{
    background: #433333;
}

.login-submit-btn{
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
/* .login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
} */
.login-show a{
    display:inline-block;
    padding:10px 0;
}
.register-show input[type="text"], .register-show input[type="password"]{
    width: 100%;
    display: block;
    margin:15px 0px 2px 0px;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.register-show select {
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.register-submit-btn:hover{
    background: #433333;
}

.register-submit-btn:focus{
    background: #433333;
}

.register-submit-btn {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
/* .register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
} */
.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}

.login-btn{
    margin-left: 50px !important;   
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:100px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 12px;    
 }

 /* .nav-header{
    height: 60px;
    background-color: rgba(236, 48, 20, 0.9) !important;
    padding: 0px;
    margin: 0px;
} */

#dropdown-menu-align-right{
    background-color: #EE4832 !important;
    border:#EE4832 !important;
}

#dropdown-menu-align-right {
    outline: none !important;
    box-shadow: none;
 }

}

.cursor_pointer {
  cursor: pointer !important;
}

.error_message {
  color: red;
  font-size: 0.75em;
  margin-top: 2px;
}

.user_created_message_login {
  color: forestgreen;
  font-size: 0.9em;
  margin-top: -9px;
}

.task_created_message{
    color: forestgreen;
    font-size: 0.8em;
    margin-top: 10px;
}

.task_created_message_error{
    color: red;
    font-size: 0.8em;
    margin-top: 10px;
}

.user_reset_password_success_message_login{
    color: forestgreen;
    font-size: 0.9em;
    margin-top: -9px;
}

.user_created_message_errors{
  color: red;
  font-size: 1em;
}

.reset_password_success_msg {
  color: forestgreen !important;
  font-size: 1em;
}

.reset_password_error_msg{
  color: red !important;
  font-size: 1em;
}

.profile_edit_success_msg {
  color: forestgreen;
  font-size: 0.85em;
}

.form_error_message {
  color: red;
  font-size: 0.9em;
  text-transform: capitalize;
}

.form_success_message{
  color: forestgreen;
  font-size: 0.9em;
  text-transform: capitalize;
}

.validate_email_message {
  color: forestgreen;
  font-size: 0.8em;
}

.sign_in_error_message {
  color: red;
  font-size: 0.8em;
}

.user_created_message_login {
  color: forestgreen;
  font-size: 0.9em;
  margin-top: -9px;
}

.task_created_message{
    color: forestgreen;
    font-size: 0.7em;
    margin-top: 10px;
}

.task_created_message_error{
    color: red;
    font-size: 0.8em;
    margin-top: 10px;
}

.user_reset_password_success_message_login{
    color: forestgreen;
    font-size: 0.9em;
    margin-top: -9px;
}

.user_created_message_errors{
  color: red;
  margin-top: 10px;
}

.forgot_password{
  color: #0879FA;
  text-decoration: none;
  font-size: 0.8rem;
}

.register_user_msg{
  color: #0879FA;
  text-decoration: none;
  font-size: 0.8rem;
}

.signup_user_section_icon{
  margin: 0px 5px 5px 5px;
  color: #0879FA;
  text-decoration: none;
  font-size: 0.9rem;;
}

/* .navbar-brand{
    color:#B8B8B8 !important;

}

.navbar-toggler{
    margin-right: 15px;
} */

select {
	width:100px;
	float:left;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	border:2px solid #000;
    background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') 97% 42% no-repeat #fff !important;
	background-size:16px 17px;
	background-position:right 0px;
}


#label-login:hover{
    background-color: white !important;
    color: rgba(236, 48, 20, 0.9) !important;
    border-color: rgba(236, 48, 20, 0.9) !important;
}

#label-register:hover{
    background-color: white !important;
    color: rgba(236, 48, 20, 0.9) !important;
    border-color: rgba(236, 48, 20, 0.9) !important;
}

.reset-email-close-btn{
    background-color: #444444 !important;
    border: none !important;
}

.reset-email-btn{
    background-color: rgba(236, 48, 20, 0.9) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none;
    
}

.dropdown-menu{
    margin: -2px 10px 0px 0px;
}

.dropdown-toggle::after {
    display:none !important;
}

.username-nav{
    margin-left: 5px !important;
}

.dashboard-box-size{
    font-size: 22px !important;
}

/* .nav-header{
    padding-right: 0px !important;
    margin-right: 0px !important;
}

.bg-light{
    background-color: rgba(236, 48, 20, 0.9) !important;
} */

.dropdown-item{
    margin: 0px !important;
    padding: 5px 20px 5px 20px !important;
}

.login-separator {
    font-size: 18px !important;
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    color: gray !important
  }
  .login-separator:before, .login-separator:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid gray;
    margin: auto;
  }
  .login-separator:before {
    margin-right: 10px
  }
  .login-separator:after {
    margin-left: 10px
  }

  .task_created_message{
    color: forestgreen;
    font-size: 1em !important;
    margin: 15px 0px 0px 0px;
}

.task_created_message_error{
    color: red;
    font-size: 1em !important;
    margin: 15px 0px 0px 0px;
}

.select_country__menu{
    z-index: 10 !important;
}

.select_gender__menu{
    z-index: 10 !important;
}

.profile_labels{
    font-weight: bold;
    float: left;
}

.profile_remove{
    color: red;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    top: -45px;
    left: -15px;
}

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 10;
}

/* .nav_links{
    padding-top: 20px !important;
    color: white !important;
    font-size: 15px !important;
} */


/*====================
        QUESTIONS
======================*/
#question {
    margin-top: 100px;
    background-color: #EE4832;
    color: white;
    padding: 10px;
    text-align: center;
}

#question h4{
    background-color: #fff;
    color: #0b0e21;
    display:inline-block;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
}

#question p{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 50px;
    padding-right: 50px;
}

/*====================
        ANSWERS
======================*/

#answers ul{
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#answers li {
    background-color: #fff;
    border: 2px solid #EE4832;
    min-height: 70px;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    transition: color .3s ease, border-color .3s ease, transform .3s ease;
    cursor: pointer;
}

#answers li span {
    background-color: #EE4832;
    color: #fff;
    font-size: 30px;
    flex: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease;
}

#answers li p {
    color: #0094da;
    font-size: 16px;
    font-weight: 600;
    flex: calc(100% - 75px);
    margin: auto 20px;
    transition: color .3s ease;
}

#answers li:after{
    display: block;
}

#answers li:hover {
    transform: scale(1.03);
}

#answers li.right {
    border-color: black;
    color: black;
    background-color: lightgray;
}

#answers li.right span {
    background-color: black;
}

#answers li.right p {
    color: black;   
}

#answers li.wrong {
    border-color: #dc0a0a;
    color: #dc0a0a;
    background-color: #dc0a0a;
    animation: shake 1.0s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#answers li.wrong span {
    background-color: #dc0a0a;
}

#answers li.wrong p {
    color: #fff;
    background-color: #dc0a0a;
}

#submit {
    text-align: center;
    margin: 20px 0;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
}
}

.fancy-btn-disabled{
    border: 2px solid lightgray;
    border-radius: 0;
    background-color: lightgray;
    color: gray;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 75px;
    margin: 0 auto;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .2s ease, background-color .2s ease;
}

.fancy-btn {
    border: 2px solid #EE4832;
    border-radius: 0;
    background-color: #EE4832;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 75px;
    margin: 0 auto;
    text-transform: uppercase;
    transition: color .2s ease, background-color .2s ease;
}

.fancy-btn:hover {
    background-color: #fff;
    color: #0b0e21;
}


/*====================
        POPUP CSS
======================*/


.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.popup h1 {
    background-color: #EE4832;
    color: white;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-top: 0;
}

.popup p {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 20px 10% 0;
}

.task_subject_edit{
    width: 100% !important;
}

#first_name{
    padding: 0px 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    position: relative;
}

#country{
    padding: 0px 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    position: relative;
}

#last_name{
    padding: 0px 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    position: relative;
}    
#email{
    padding: 0px 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    position: relative;
}

#username{
    padding: 0px 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    position: relative;
}

#city{
    padding: 0px 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    position: relative;
}

#state{
    padding: 0px 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    position: relative;
}

#zip_code{
    padding: 0px 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    position: relative;
}

#password{
    padding: 0px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    position: relative;
}

#register_password{
    padding: 0px;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    position: relative;
}

#confirm_password{
    padding: 0px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    position: relative;
}

#role{
    margin: 0px 0px 10px 0px;  
    padding: 0px
}

#last_login{
    padding: 0px;
}

#birth_date{
    padding: 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
    position: relative;
}

#forgot_password_email{
    padding: 0px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    position: relative;
}

#forgot_password_password{
    padding: 0px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    position: relative;
}

#forgot_password_confirm_password{
    padding: 0px;
    margin: 20px 10px 0px 10px !important;
    border-radius: 10px;
    position: relative;
}

#access_code{
    padding: 0px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    position: relative;
}

.custom_label_forgot_password_email{
    position:absolute;
    top:-12px;
    left:8px;
    color: black !important;
    background-color:white;
    width: 120px;
}

.custom_label_forgot_password_password{
    position:absolute;
    top:-12px;
    left:8px;
    color: black !important;
    background-color:white;
    width: 120px;
}

.custom_label_forgot_password_confirm_password{
    position:absolute;
    top:-12px;
    left:8px;
    color: black !important;
    background-color:white;
    width: 160px;
}

.custom_label_email{
    position:absolute;
    top:-12px;
    left:8px;
    color: black !important;
    background-color:white;
    width: 120px;
}

.custom_label_access_code{  
    position:absolute;
    top:-12px;
    left:6px;
    color: black !important;
    background-color:white;
    width: 120px;
}

.custom_label_password{
    position:absolute;
    top:-12px;
    left:6px;
    color: black !important;
    background-color:white;
    width: 100px;
}

.custom_label_confirm_password{
    position:absolute;
    top:-12px;
    left:6px;
    color: black !important;
    background-color:white;
    width: 160px;  
}

h5 {
    width: 95%; 
    text-align: center; 
    border-bottom: 1px solid black; 
    line-height: 0.1em;
    margin: 40px 0px 0px 15px; 
 } 
 
h5 span { 
    background: #fff; 
    padding: 0px 10px; 
    font-family: 'Roboto'; 
    color: black;
    font-weight: bolder;
}

#google_auth > button{
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: black !important;
    box-shadow: none !important;
    padding: 0px;
    border-radius: 5px !important;
    height: 50px !important;
    border: 1px solid black !important;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    width: 100% !important;
}


#google_auth > button > span{
    font-weight: bolder !important;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto' !important;
}

/* Social logins */

.my-facebook-button-class{
    height: 50px !important;
    width: 100% !important;
    background-color: white !important;
    color: #0679E9 !important;
    border-color: #0679E9 !important;
}

.my-facebook-button-class i {
    color: #0679E9 !important;
    padding-right: 20px!important;
    padding-left: 0px!important;
    font-size: 20px!important;
    text-align: left!important;
    float: left!important;
    padding-top: 2px !important;
}

/* .nav-header{
    background-color: white !important;
} */

.nav_link_container a {
    color: black !important;
    text-decoration: none;
    margin: 0px 10px;
    display: inline-block;
    position: relative;
}
  
.nav_link_container a:after {
    width: 0;
    background: black;
    height: 3px;
    transition: all .5s ease-in-out;
    content: "";
    position: absolute;
    bottom: 7px;
    right: 0;
}
  
.nav_link_container a.underline:after {
    width: 100%;
    left: 0;
}

.nav_link_container a:hover:after {
    width: 100%;
    left: 0;
}

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav_links{
    padding-top: 12px !important;
    color: black !important;
    font-size: 17px !important;
}

.nav_link_container{
    margin-right: 10px !important;
}

.select_gender__option{
text-align: left !important;
}

.select_company__option{
text-align: left !important;
}

.select_country__option{
text-align: left !important;
}

.select_billing_country__option{
text-align: left !important;
}

.select_role__option{
text-align: left !important;
}

.select_filter__option{
    text-align: left !important;
}

.scroll_bar_card {
    background-color: #F8F9FA;
    height: 100px;
    border: 1px solid #F8F9FA;
    padding: 5px;
    border-radius: 5px;
    overflow-y: scroll; /* Add the ability to scroll */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scroll_bar_card::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scroll_bar_card {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.carousel_container{
    height: 250px;
    width: 100%;
}

.carousel_img{
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}

.form-check-input{
    cursor: pointer;
}

.tabs{
    color: black !important;
}

.delete_icon{
    margin: 0px 5px 5px 5px;
    color: red;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
  }
  

  .edit_icon{
    margin: 0px 5px 5px 5px;
    color: #0C6EFD;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
  }